@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto');

header {
    max-width: 500px;
    margin: 50px auto 50px auto;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-family: 'PT Serif', 'Times New Roman', Times, serif
}

h2, h3, h4, h5, h6, p, body {
    font-family: 'PT Serif', 'Times New Roman', Times, serif
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e0e0e0' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header {
    width: 100%;
    margin: 20px auto 20px auto;
}

.cross-title-background {
    width: 100%;
}

.cross-title {
    width: 90%;
    margin: auto;
}

.order-container {
    text-align: center;
    margin: 35px auto;
    font-size: 1.5em;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
}

.order-line {
    width: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.order-line-item-wings {
    width: 150px;
    margin: auto 20px;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
}

.order-line-item-price {
    width: 150px;
    margin: auto 0px auto 0px;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
}

.order-line-item-label {
    height: 30px;
    width: 160px;
    margin: auto 0px auto 0px;
    text-align: right;
    display: flex;
    align-items: center;
    padding: 20px auto;
    font-size: 0.8em;
}

.order-message {
    margin: 15px auto 0px auto;
    font-size: 0.7em;
}

.order-button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.order-button-reset {
    width: 180px;
    height: 50px;
    background-color: gainsboro; 
    color: dimgray;
    border-radius: 4px;
    border: 2px solid gray;
    margin: 10px;
    font-size: 0.7em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 1s ease;
}

.order-button-check {
    width: 180px;
    height: 50px;
    background: none;
    background-color: gainsboro; 
    color: dimgray;
    border-radius: 4px;
    border: 2px solid gray;
    margin: 10px;
    font-size: 0.7em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 1s ease;
}

.order-button-reset:hover:enabled, .order-button-check:hover:enabled {
    background-color: dimgray;
    color: gainsboro;
}

.order-button-check:disabled {
    background: 
        #f39292;
    cursor: not-allowed;
}

.button-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.menu-item {
    width: 100px;
    margin: 10px 20px 10px 20px;
    color: darkgray;
}

.wings {
    font-size: 1.2em;
    margin: auto;
    text-align: center;
}

.cost {
    margin: auto;
    text-align: center;
}

.action-container {
    display: flex;
    margin-top: 3px;
    justify-content: center;
}

.num-selected {
    width: 40px;
    margin: auto 5px auto 5px;
    text-align: center;
}

.select-button {
    width: 25px;
    height: 20px;
    background-color: gainsboro; 
    color: dimgray;
    border-radius: 4px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.select-button:hover {
    background-color: dimgray;
    color: gainsboro;
}

.odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 1s !important;
    -moz-transition-duration: 1s !important;
    -ms-transition-duration: 1s !important;
    -o-transition-duration: 1s !important;
    transition-duration: 1s !important
}